<?xml version="1.0" encoding="utf-8"?>
<FrameLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:fab="http://schemas.android.com/apk/res-auto"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">


      <!--FLOATING BUTTON-->
      <android.support.design.widget.FloatingActionButton
          android:id="@+id/floatingButton"
          android:layout_width="60dp"
          android:layout_height="60dp"
          android:layout_gravity="bottom|right"
          android:layout_marginBottom="12dp"
          android:layout_marginRight="16dp"
          android:src="@drawable/ic_note_add"
          android:scaleType="center"
          />
        <!--FLOATING BUTTON-->



        <!--TEXTVIEW WHEN THERE IS NO ELEMENTS-->
        <TextView
          android:id="@+id/lblThereIsNoElements"
          android:text="@string/regmov_noelements"
          android:textAppearance="?android:attr/textAppearanceLarge"
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:gravity="center"
          />
        <!--TEXTVIEW WHEN THERE IS NO ELEMENTS-->
  
  
  <LinearLayout
      android:orientation="vertical"
      android:layout_width="fill_parent"
      android:layout_height="fill_parent">
    

    <!--SWIPE AND REFRESH GESTURE-->
    <android.support.v4.widget.SwipeRefreshLayout
        android:id="@+id/swipe1"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
      
      
      <!--LISTVIEW FOR SHOW THE MOVIES-->
      <ListView
          android:id="@+id/MoviesListView"
          android:layout_width="fill_parent"
          android:layout_height="fill_parent" />
      <!--LISTVIEW FOR SHOW THE MOVIES-->

    </android.support.v4.widget.SwipeRefreshLayout>
    <!--SWIPE AND REFRESH GESTURE-->

  </LinearLayout>

</FrameLayout>